body {
    padding: 20px;
}

pre {
    background: #eee;
    color: #444;
    padding: 10px;
}

h1 {
    font-weight: normal;
}

h3 {
    color: #0078E7;
    font-weight: normal;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0; 
}

.default {
    color: dimgray;
    font-style: italic;
}